.container {
  display: grid;
  grid-template-areas:
    'header'
    'results'
    'footer';
  grid-template-rows: 1fr 10fr 0.5fr;
  height: 100vh;
}

/* --------------- Header ---------------- */

.header {
  grid-area: header;
  background-image: linear-gradient(
    to right bottom,
    var(--primaryColor),
    var(--secondaryColor)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 4rem;
  height: 4.5rem;
  display: block;
  border-radius: 1.5rem;
}
.search {
  color: #757775;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}
.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
}
.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}
.search__field:focus {
  outline: none;
}
.search__field::placeholder {
  color: #dad0cc;
}
.btn {
  background-color: inherit;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #757775;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.btn:focus {
  outline: none;
}
.search__icon {
  border-radius: 100px;
  padding: 1.5rem 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  transition: var(--mainTransition);
}
.search__icon:hover {
  transform: translateX(4px);
}
.likes {
  position: relative;
  align-self: stretch;
  padding: 0 !important;
}
.likes__field {
  cursor: pointer;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.likes__panel:hover,
.likes__field:hover + .likes__panel {
  visibility: visible;
  opacity: 1;
}
.likes__icon {
  color: #fff;
  transition: var(--mainTransition);
}
.likes__icon:hover {
  transform: translateY(-3px) scale(1.1);
}
.likes__panel {
  position: absolute;
  right: 0;
  top: 10rem;
  z-index: 10;
  padding: 2rem 0;
  width: 34rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

/* --------------- End of Header ---------------- */

/* --------------- Gallery Results ---------------- */

.gallery-results {
  overflow-y: scroll;
  grid-area: results;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-auto-rows: minmax(200px, 300px); */
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}
.image-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  /* overflow: hidden; */
}
.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* min-height: 12rem; */
  /* transition: var(--mainTransition); */
}

/* .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  } */

/* --------------- end of Gallery Results ---------------- */

/* --------------- Footer ---------------- */

.footer {
  grid-area: footer;
  background-image: linear-gradient(
    to left,
    var(--primaryColor),
    var(--secondaryColor)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dad0cc;
  letter-spacing: var(--mainSpacing);
}

.footer h1 {
  font-weight: 1;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 450px);
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 1;
  visibility: hidden;
}

.no-results {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results h1 {
  /* transform: translateX(-100%); */
  /* transition: all 0.2s linear; */
  animation: appear 1.5s;
}

@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

select {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}
